/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* About Stylesheet */

body {
    height: 100vh;
}

.about-container {
    max-width: 102.5rem;
    margin: 0 auto auto;
    padding: 5rem;
    font-size: 2rem;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
}

.about-container a {
    color: gray;
}

.about-container a:hover {
    color: rgb(0, 21, 255);
}

#me {
    height: 15rem;
    width: auto;
    border-radius: 50%;
    border: 4px solid gold;
    float: left;
    margin-right: 2rem;
    shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
                clip-path: circle(50% at 50% 50%);
}

.caption {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, 20%);
            -ms-transform: translate(-50%, 20%);
                transform: translate(-50%, 20%);
        color: #fff;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
}