/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Global View (Desktop) */ 
* {
    margin: 0;
}

html {
    font-size: 10px;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

strong {
    font-weight: 900;
    font-size: 2.5rem;
}

/* Header Styles */

.header-container {
    background-image: -webkit-gradient(linear, left top, right top, from(#14114b), to(#0073ff) );
    background-image: -o-linear-gradient(left, #14114b, #0073ff );
    background-image: linear-gradient(to right, #14114b, #0073ff );
    min-height: 10rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
}

header {
    max-width: 102.5rem;
    min-height: 10rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    text-align: left;
    color: white;
    font-size: 2rem;
}

nav {
    text-align: right;
}

.bold {
    font-weight: 700;
    font-size: 2.5rem;
}

.navbutton {
    padding: 1rem 4rem;
    border-style: solid;
    border-width: 2px;
    margin-left: 1.5rem;
    border-radius: 3px;
    font-size: 1.5rem;
}

.navbutton:hover {
    color: rgb(210, 210, 210);
    -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
            box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}


/* Shared Body Styles */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ebebeb;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10rem 1fr 5rem;
    grid-template-rows: 10rem 1fr 5rem;
}

/* Footer Styles */

#flag {
    width: 2rem;
    margin-left: 1.5rem;
}

footer {
    grid-row: 3 / -1;
}

#footer {
    grid-row: 3 / -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0rem;
    bottom: 0rem;
    width: 100%;
    height: 5rem;
    background-color: #212221;
    color: #ffffff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0rem;
}